$width-middle: 400px;

$font-12px: 0.75rem;
$font-13px: 0.8125rem;
$font-14px: 0.875rem;
$font-15px: 0.9375rem;
$font-20px: 1.25rem;
$font-24px: 1.5rem;
$font-30px: 1.875rem;
$font-40px: 2.5rem;

$size-5px: 0.3125rem;
$size-8px: 0.5rem;
$size-10px: 0.625rem;
$size-14px: 0.875rem;
$size-16px: 1rem;
$size-24px: 1.5rem;
$size-30px: 1.875rem;
$size-36px: 2.25rem;
$size-40px: 2.5rem;
$size-46px: 2.875rem;
$size-80px: 5rem;
$size-100px: 6.25rem;
$size-130px: 8.125rem;
$size-166px: 10.375rem;